<h1 class="mt-2">Change Password</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row align-items-center">
      <%= f.label :email, class: "col-sm-2 col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border border-dark mb-4" %>
      </div>
    </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row align-items-center">
    <%= f.label :password, class: "col-sm-2 col-form-label-lg" %>
      <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control border border-dark" %>
      <% if @minimum_password_length %>
        <em class="fs-6"><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      </div>
    </div>

    <div class="row align-items-center">
      <%= f.label :password_confirmation, class: "col-sm-2 col-form-label-lg" %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border border-dark" %>
      </div>
    </div>

  <div class="row align-items-center">
    <%= f.label :current_password, class: "col-sm-2 col-form-label-lg" %>
    <div class="col-sm-10">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control border border-dark" %>
    </div>
  </div>
  <br>
  <div class="actions">
    <%= link_to "Cancel", :back, class: "btn btn-dark border border-dark" %>
    <%= f.submit "Update Password", class: "btn btn-light border border-dark mt-1" %>
  </div>
<% end %>