<%= form_with model: @user, url: update_user_details_path, method: :patch do |f| %>
    <div class="mb-3">
        <%= f.label :first_name, class: "form-label" %>
        <%= f.text_field :first_name, class: "form-control border border-dark" %>
    </div>
    <div class="mb-3">
        <%= f.label :last_name, class: "form-label" %>
        <%= f.text_field :last_name, class: "form-control border border-dark" %>
    </div>
    <div class="mb-3">
        <%= f.label :mobile, class: "form-label" %>
        <%= f.text_field :mobile, class: "form-control border border-dark" %>
    </div>
    <div class="mb-3">
        <%= f.label :location, class: "form-label" %>
        <%= f.text_field :location, class: "form-control border border-dark" %>
    </div>
    <%= link_to "Cancel", :back, class: "btn btn-dark border border-dark" %>
    <%= f.submit class: "btn btn-light border border-dark" %>
  <% end %>