<main>
    <h1 class="mt-2">Your Games</h1>
    <% if @num_of_items == 0 %>
        <p>You have no games on sale</p>
    <% else %>
        <p>You have <%= @num_of_items %> games on sale</p>
        <% @products.each do |product| %>
            <div class="d-flex border border-secondary m-2 p-2">
                <% if product.cover.attached? %>
                    <%= image_tag product.cover, width: 110, height: 130 %>
                <% else %>
                    <%= image_tag src="https://via.placeholder.com/110x130" %>
                <% end %>
                <div class="ms-2">
                    <p class="mb-0"><strong><%= product.name %></strong></p>
                    <p class="mb-0"><%= product.console %></p>
                    <p class="mb-0">$<%= "%.2f" % product.price %></p>
                    <br>
                    <p class="mb-0"><%= link_to "Update Item", edit_product_path(product) %></p>
                    <p class="mb-0"><%= link_to "Delete Item", product, method: :delete, data: { confirm: "Are you sure?" } %></p>
                </div>    
            </div>
        <% end %>
    <% end %>
</main>