<style>
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper {
    margin-bottom: 15px;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    background: #F2F2F2;
    height: 34vh;

    justify-content: flex-end;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }

  .padding {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  p {
      margin-bottom: 5px;
  }

  .btn-width {
    width: 200px;
  }
</style>
<h1>Your Details</h1>

<p>Name: <%= @user.full_name %></p>
<p>Location: <%= @user.location %></p>
<p>Email: <%= @user.email %></p>
<p>Mobile: <%= @user.mobile %></p>

<%= link_to "Change Password", edit_user_registration_path, class: "btn btn-light border border-dark mt-1 btn-width" %>
<%= link_to "Update Details", edit_user_details_path, class: "btn btn-light border border-dark mt-1 btn-width" %>
<%= link_to "Delete Account", delete_user_account_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark border border-dark mt-1 btn-width" %>
<br>
<h1>Your Games</h1>
<% if @num_of_products > 0 %>
    <p>You have listed <%=  link_to @num_of_products, show_user_products_path %> games</p>
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <%= render partial: "products/swiper", locals: {products: @products} %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
<% else %>
  <p>You have not listed any games</p>
<% end %>

