<main>
  <section>
    <h1 class="mt-2">Your Details</h1>
    <p>Name: <%= @user.full_name %></p>
    <p>Location: <%= @user.location %></p>
    <p>Email: <%= @user.email %></p>
    <p>Mobile: <%= @user.mobile %></p>

    <%= link_to "Change Password", edit_user_registration_path, class: "btn btn-light border border-dark mt-1 btn-width mb-3" %>
    <%= link_to "Update Details", edit_user_details_path, class: "btn btn-light border border-dark mt-1 btn-width mb-3" %>
    <%= link_to "Delete Account", delete_user_account_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-dark border border-dark mt-1 btn-width mb-3" %>
    </section>
  <section>
    <h1>Your Games</h1>
    <% if @num_of_products > 0 %>
      <% if @num_of_products == 1 %>
        <p>You have listed <%=  link_to @num_of_products, show_user_products_path %> game</p>
      <% else %>
        <p>You have listed <%=  link_to @num_of_products, show_user_products_path %> games</p>
      <% end %>
      <div class="swiper-container mySwiper">
          <div class="swiper-wrapper mb-3 text-center">
              <%= render partial: "products/swiper", locals: {products: @products} %>
          </div>
          <div class="swiper-pagination"></div>
      </div>
    <% else %>
      <p>You have not listed any games</p>
    <% end %>
  </section>
  <section>
    <h1>Games Sold</h1>
    <% if @num_of_sold_products == 0 %>
      <p>You have not sold any games yet</p>
    <% else %>
      <% if @num_of_sold_products == 1 %>
        <p>You have sold 1 game</p>
      <% else %>
        <p>You have sold <%= @num_of_sold_products %> games</p>
      <% end %>
      <% @sold_products.each do |product| %>
        <div class="d-flex border border-secondary m-2 p-2">
          <% if product.cover.attached? %>
            <%= cl_image_tag product.cover.key, crop: :scale, width: 60, height: 80, cloud_name: "noe13hsu" %>
          <% else %>
            <%= image_tag src="https://via.placeholder.com/60x80" %>
          <% end %>
          <div class="ms-2">
            <p class="mb-0"><strong><%= product.name %></strong></p>
            <p class="mb-0"><%= product.console %></p>
            <p class="mb-0">$<%= "%.2f" % product.price %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
</main>

