<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
    }
    
    .user-game-details {
        display: flex;
        margin-bottom: 10px;
        background: white;
        padding :10px;
    }

    p {
        margin: 0;
        margin-left: 10px;
    }
</style>

<h1>Your Cart</h1>

<% if @num_of_items == 0 %>
    <p>Your cart is empty</p>
<% else %>
    <p>There are <%= @num_of_items %> items in your cart</p>
    <% @cart_items.each do |cart_item| %>
        <div class="user-game-details border border-secondary">
            <img src="https://via.placeholder.com/110x130">
            <div>
                <p><%= cart_item.product.name %></p>
                <p><%= cart_item.product.console %></p>
                <p>$<%= cart_item.product.price %></p>
                <p><%= link_to "Delete Item", cart_item, method: :delete, data: { confirm: "Are you sure?" } %></p>
            </div>    
        </div>
    <% end %>
    <h3>Subtotal: $<%= @subtotal %></h3>
<% end %>