<div class="row">
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        <%= link_to "PS4", show_ps4_path %>
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        <%= link_to "PS5", show_ps5_path %>
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        <%= link_to "Switch", show_switch_path %>
    </div>
</div>
<div class="row">
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        <%= link_to "Xbox X/S", show_xboxxs_path %>
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        <%= link_to "Xbox One", show_xboxone_path %>
    </div>
    <div class="col text-center border-bottom border-2 border-dark fs-6 text padding">
        <%= link_to "Others", show_other_consoles_path %>
    </div>
</div>
<br>
