<div class="row mt-1 mb-1">
    <div class="col text-center border-bottom border-2 border-dark padding">
        <%= link_to "PlayStation 4", show_ps4_path, class: "fs-6 text-dark" %>
    </div>
    <div class="col text-center border-bottom border-2 border-dark padding">
        <%= link_to "PlayStation 5", show_ps5_path, class: "fs-6 text-dark" %>
    </div>
</div>
<div class="row mb-1">
    <div class="col text-center border-bottom border-2 border-dark padding">
        <%= link_to "Xbox X/S", show_xboxxs_path, class: "fs-6 text-dark" %>
    </div>
    <div class="col text-center border-bottom border-2 border-dark padding">
        <%= link_to "Xbox One", show_xboxone_path, class: "fs-6 text-dark" %>
    </div>
</div>
<div class="row mb-1">
    <div class="col text-center border-bottom border-2 border-dark padding">
        <%= link_to "Nintendo Switch", show_switch_path, class: "fs-6 text-dark" %>
    </div>
    <div class="col text-center border-bottom border-2 border-dark padding">
        <%= link_to "Others", show_other_consoles_path, class: "fs-6 text-dark" %>
    </div>
</div>
<br>
