<%= form_with model: @product do |f| %>
    <div class="row align-items-center">
        <%= f.label :name, class: "col-sm-2 col-form-label-lg" %>
        <div class="col-sm-10">
            <%= f.text_field :name, class: "form-control border border-dark" %>
        </div>
    </div>
    <div class="row align-items-center">
        <%= f.label :price, class: "col-sm-2 col-form-label-lg" %>
        <div class="col-sm-10">
            <%= f.text_field :price, class: "form-control border border-dark" %>
        </div>
    </div>
    <div class="row align-items-center">
        <%= f.label :console, class: "col-sm-2 col-form-label-lg" %>
        <div class="col-sm-10">
            <%= f.select :console, ["PlayStation 3", "PlayStation 4", "PlayStation 5", "PlayStation Vita", "Xbox X/S", "Xbox One", "Xbox 360", "Nintendo Switch", "Nintendo 3DS", "Nintendo Wii U", "Nintendo Wii", "PC"], class: "form-select form-select-lg mb-3" %>
        </div>
    </div>
    <div class="row align-items-center">
        <p class="col-sm-2 col-form-label col-form-label-lg">Condition</p>
        <div class="col-sm-10">
            <div class="form-check">
                <%= f.radio_button :condition, "New", class: "border border-dark form-check-input" %>
                <%= f.label :new, "New", class: "form-check-label" %>
            </div>
            <div class="form-check">
                <%= f.radio_button :condition, "Used", class: "fborder border-dark form-check-input" %>
                <%= f.label :used, "Used", class: "form-check-label" %>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <%= f.label :cover, class: "col-sm-2 col-form-label col-form-label-lg" %>
        <div class="col-sm-10">
            <%= f.file_field :cover %>
        </div>
    </div>
    <br>
    <%= link_to "Cancel", :back, class: "btn btn-dark" %>
    <%= f.submit class: "btn btn-light border border-dark" %>
<% end %>
