<h1><%= @product.name %></h1>

<p>Seller: <%= @product.user.full_name %></p>
<p>Price: $<%= @product.price.to_f %></p>
<p>Console: <%= @product.console %></p>
<p>Condition: <%= @product.condition %></p>
<p>Location: <%= @product.user.location %></p>

<% if current_user.present? %>
    <%= link_to "Add to cart", create_cart_item_path, method: :post %>
<% end %>
<%= link_to "Back", :back %>