<h1><%= @product.name %></h1>

<p>Seller: <%= @product.user.full_name %></p>
<p>Price: $<%= @product.price.to_f %></p>
<p>Console: <%= @product.console %></p>
<p>Condition: <%= @product.condition %></p>

<button>Add to cart</button>
<%= link_to "<< Back", :back %>