<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <title>Second Hand Games</title>
  </head>
  <body class="d-flex flex-column">
    <%= render "layouts/header" %>

    <% if notice %>
      <p class="notice alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if flash[:errors] %>
      <section class="alert alert-danger">
        <ul>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <div class="d-flex flex-column container mb-2 bg-body text-dark flex-grow-1">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      function checkMediaQuery() {
        if (window.innerWidth <= 425) {
          var swiper = new Swiper(".mySwiper", {
            slidesPerView: 2,
            spaceBetween: 15,
            pagination: {
              el: ".swiper-pagination",
              dynamicBullets: true,
              clickable: true,
            },
          });
        } else if (window.innerWidth > 425 && window.innerWidth < 768 ) {
          var swiper = new Swiper(".mySwiper", {
            slidesPerView: 4,
            spaceBetween: 15,
            pagination: {
              el: ".swiper-pagination",
              dynamicBullets: true,
              clickable: true,
            },
          });
        } else if (window.innerWidth >= 768) {
          var swiper = new Swiper(".mySwiper", {
            slidesPerView: 6,
            spaceBetween: 15,
            pagination: {
              el: ".swiper-pagination",
              dynamicBullets: true,
              clickable: true,
            },
          });
        }
      }
      window.addEventListener("resize", checkMediaQuery);
    </script>
  </body>
</html>